html
    head
        title= 'forma'
        link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", rel="stylesheet")
    body    
        div.container
            div.row
                form(class="col s12" action="/", method="post")
                    div.row
                        div(class = "input-field col6")
                            label(for="id") ID
                            input(placeholder = "", id="id", type="text" class="validate", name="id")
                    div.row    
                        div(class = "input-field col6")
                            input(placeholder = "", id="persons",type="text", class="validate", name="persons")
                            label(for="persons") Persons
                    div.row
                        div(class = "input-field col6")
                            input(placeholder= "" id="code", type="text" class="validate" name="code")
                            label(for="code") Code
                    button(class="btn waves-effect waves-light" type="submit" name="action") Submit
                    

            table
                thead
                    tr
                        th ID
                        th Persons
                        th Code
                tbody
                    for entry in entries
                        tr
                            td #{entry.id}
                            td #{entry.persons}
                            td #{entry.code}



