html
    head
        title= 'forma'
        link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css", rel="stylesheet")
    body    
        div.container
            div.row
                form(class="col s12")
                    div.row
                        div(class = "input-field col6")
                            input(placeholder = "fsdfdsf", id="id", type="text", class="validate")
                            label(for="id") ID
                    div.row    
                        div(class = "input-field col6")
                            input(placeholder = "dsfsdf", id="persons", type="text", class="validate")
                            label(for="persons") Persons
                    div.row
                        div(class = "input-field col6")
                            input(placeholder= "fdsfs", id="code", type="text", class="validate")
                            label(for="code") Code

            table
                thead
                    tr
                        th ID
                        th Persons
                        th Code
                tbody
                    for entry in entries
                        tr
                            td #{entry.id}
                            td #{entry.persons}
                            td #{entry.code}



